@import "reset";

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dddbcb;
  padding: 30px 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  color: #050505;
  margin-bottom: 0.5rem;
}

.counter {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;

  p {
    font-weight: 600;
    margin-right: 1rem;
  }
}

label,
.counter span {
  color: #f0a202;
}

.memory-game {
  width: clamp(360px, 60vw, 640px);
  height: clamp(360px, 60vw, 640px);
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  perspective: 1000px;
  position: relative;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  position: relative;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;

  &:active {
    transform: scale(0.97);
    transition: transform 0.2s;
  }
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.popup {
  display: none;
  width: 350px;
  height: 250px;
  padding: 50px;
  font-size: 1.5rem;
  background-color: #f0a202;
  border-radius: 10px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.display {
  display: block;
}
